$white: #FFFFFF;
$black: #000000;
$green: #01C82D;
$green-light: #61D91D;
$text: #4c5261;

%gradient-bottom {
  background: linear-gradient(0.00deg, rgba(255, 255, 255, 0.3),rgb(255, 255, 255));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

%gradient-top {
  background: linear-gradient(133deg, #00c72c 0%, #afe70f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


//ArialMT
//========================================================================================================================================================
%arial-500 {
  font-family: 'ArialMT', sans-serif;
  font-weight: 500;
}

//Inter
//========================================================================================================================================================
%int-400 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

%int-500 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

//Montserrat
//========================================================================================================================================================
%mont-400 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

%mont-500 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

%mont-600 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

//MusticaproSemibold
//========================================================================================================================================================
%must-600 {
  font-family: 'MusticaPro', sans-serif;
  font-weight: 600;
}

//Ubuntu
//========================================================================================================================================================
%ubun-400 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

%ubun-500 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}




