$white: #FFFFFF;
$black: #000000;

//ArialMT
//========================================================================================================================================================
%arial-400 {
  font-family: 'ArialMT', sans-serif;
  font-weight: 400;
}

//Inter
//========================================================================================================================================================
%int-400 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

%int-500 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

//Montserrat
//========================================================================================================================================================
%mont-400 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

%mont-500 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

%mont-600 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

//MusticaproSemibold
//========================================================================================================================================================
%must-600 {
  font-family: 'MusticaPro', sans-serif;
  font-weight: 600;
}

//Ubuntu
//========================================================================================================================================================
%ubun-400 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

%ubun-500 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}


